@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: serif;
  background-color: white;
}

.verseText {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
