@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: serif;
  background-color: white;
}

.verseText {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.category {
  scrollbar-width: none;
}

input:focus {
  outline-style: none;
  box-shadow: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}
